---
import BlogPosts from "../components/BlogPosts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blogs";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPosts url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
