---
import Social from "./Social.astro";

const platform = "github";
const username = "withastro";
---

<style>
  footer {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
  }
</style>
<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="twitter" username="_takigon" />
  <Social platform="github" username="shutootaki" />
</footer>
